In [19]:
#Importamos la libreria pandas
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [18]:
#Cargamos el dataset 
df = pd.read_csv('City-of-St-Louis-COVID-19-Case-Data.csv')
#Cargamos los primeros 5 datos
df.head(50)

,CONFIRMEDCASECHANGE,DATE,DEATHCHANGE,PROBABLECASECHANGE,R0,R0CIHIGH,R0CILOW,TOTALCONFIRMEDCASES,TOTALDEATHS,TOTALPROBABLECASES
0,1,03-03-2020,0,0,NaN,NaN,NaN,1,0,0
1,0,03-04-2020,0,0,NaN,NaN,NaN,1,0,0
2,0,03-05-2020,0,0,NaN,NaN,NaN,1,0,0
3,0,03-06-2020,0,0,NaN,NaN,NaN,1,0,0
4,0,03-07-2020,0,0,NaN,NaN,NaN,1,0,0
5,0,03-08-2020,0,0,NaN,NaN,NaN,1,0,0
6,0,03-09-2020,0,0,NaN,NaN,NaN,1,0,0
7,0,03-10-2020,0,0,NaN,NaN,NaN,1,0,0
8,0,03-11-2020,0,0,NaN,NaN,NaN,1,0,0
9,0,03-12-2020,0,0,NaN,NaN,NaN,1,0,0
10,1,03-13-2020,0,0,NaN,NaN,NaN,2,0,0
11,1,03-14-2020,0,0,NaN,NaN,NaN,3,0,0
12,0,03-15-2020,0,0,NaN,NaN,NaN,3,0,0
13,3,03-16-2020,0,0,NaN,NaN,NaN,6,0,0
14,3,03-17-2020,0,0,NaN,NaN,NaN,9,0,0
15,7,03-18-2020,0,0,NaN,NaN,NaN,16,0,0
16,5,03-19-2020,0,0,NaN,NaN,NaN,21,0,0
17,9,03-20-2020,0,1,NaN,NaN,NaN,30,0,1
18,8,03-21-2020,0,0,NaN,NaN,NaN,38,0,1
19,18,03-22-2020,0,0,NaN,NaN,NaN,56,0,1
20,15,03-23-2020,1,0,3.99,5.36,2.63,71,1,1
21,22,03-24-2020,0,0,3.57,4.62,2.51,93,1,1
22,23,03-25-2020,0,0,3.18,4.01,2.35,116,1,1
23,32,03-26-2020,0,0,2.92,3.60,2.24,148,1,1
24,36,03-27-2020,0,1,2.74,3.31,2.17,184,1,2
25,30,03-28-2020,0,0,2.57,3.05,2.09,214,1,2
26,21,03-29-2020,0,0,2.33,2.74,1.93,235,1,2
27,40,03-30-2020,0,0,2.15,2.50,1.80,275,1,2
28,43,03-31-2020,0,1,2.00,2.30,1.69,318,1,3
29,41,04-01-2020,0,0,1.88,2.14,1.61,359,1,3
30,47,04-02-2020,0,0,1.76,2.00,1.52,406,1,3
31,43,04-03-2020,4,1,1.63,1.84,1.42,449,5,4
32,35,04-04-2020,1,0,1.52,1.71,1.32,484,6,4
33,23,04-05-2020,2,0,1.43,1.61,1.25,507,8,4
34,48,04-06-2020,2,1,1.36,1.52,1.19,555,10,5
35,34,04-07-2020,2,1,1.28,1.44,1.13,589,12,6
36,36,04-08-2020,0,0,1.22,1.36,1.07,625,12,6
37,35,04-09-2020,1,0,1.15,1.29,1.01,660,13,6
38,31,04-10-2020,4,0,1.09,1.22,0.96,691,17,6
39,12,04-11-2020,0,0,1.03,1.16,0.90,703,17,6
40,22,04-12-2020,2,0,0.99,1.11,0.86,725,19,6
41,24,04-13-2020,5,0,0.94,1.06,0.82,749,24,6
42,24,04-14-2020,2,0,0.89,1.01,0.78,773,26,6
43,34,04-15-2020,1,0,0.86,0.97,0.74,807,27,6
44,26,04-16-2020,1,0,0.83,0.95,0.72,833,28,6
45,29,04-17-2020,2,1,0.82,0.93,0.70,862,30,7
46,17,04-18-2020,0,0,0.82,0.94,0.70,879,30,7
47,15,04-19-2020,0,0,0.82,0.94,0.70,894,30,7
48,24,04-20-2020,10,1,0.84,0.96,0.71,918,40,8
49,55,04-21-2020,2,0,0.89,1.02,0.76,973,42,8

## Describimos el tipo de dato del dataset

In [13]:
df.count()

CONFIRMEDCASECHANGE    874
DATE                   874
DEATHCHANGE            874
PROBABLECASECHANGE     874
R0                     847
R0CIHIGH               847
R0CILOW                847
TOTALCONFIRMEDCASES    874
TOTALDEATHS            874
TOTALPROBABLECASES     874
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CONFIRMEDCASECHANGE  874 non-null    int64
 1   DATE                 874 non-null    object
 2   DEATHCHANGE          874 non-null    int64
 3   PROBABLECASECHANGE   874 non-null    int64
 4   R0                   847 non-null    float64
 5   R0CIHIGH             847 non-null    float64
 6   R0CILOW              847 non-null    float64
 7   TOTALCONFIRMEDCASES  874 non-null    int64
 8   TOTALDEATHS          874 non-null    int64
 9   TOTALPROBABLECASES   874 non-null    int64
dtypes: float64(3), int64(6), object(1)
memory usage: 68.4+ KB

## Comprobamos si los datos estan null o NaN

In [10]:
df.isnull().sum()

CONFIRMEDCASECHANGE     0
DATE                    0
DEATHCHANGE             0
PROBABLECASECHANGE      0
R0                     27
R0CIHIGH               27
R0CILOW                27
TOTALCONFIRMEDCASES     0
TOTALDEATHS             0
TOTALPROBABLECASES      0
dtype: int64

In [11]:
df.isna().sum()

CONFIRMEDCASECHANGE     0
DATE                    0
DEATHCHANGE             0
PROBABLECASECHANGE      0
R0                     27
R0CIHIGH               27
R0CILOW                27
TOTALCONFIRMEDCASES     0
TOTALDEATHS             0
TOTALPROBABLECASES      0
dtype: int64

In [14]:
## Se relaiza la limpiza

In [16]:
#Comprobamos los valores unicos
df.nunique()

CONFIRMEDCASECHANGE    185
DATE                   874
DEATHCHANGE             12
PROBABLECASECHANGE      58
R0                     106
R0CIHIGH               113
R0CILOW                 96
TOTALCONFIRMEDCASES    864
TOTALDEATHS            416
TOTALPROBABLECASES     735
dtype: int64

In [20]:
#Como el campo Age me faltan datos se realza la tecnica de inputacino por medio de la media
im_mean=SimpleImputer(missing_values=np.nan, strategy='mean')
im_mean=im_mean.fit(df[['R0CIHIGH']])
#Se actualiza la columna con los datos correctamente distribuidos (media)
df['R0CIHIGH'] = im_mean.transform(df[['R0CIHIGH']])
df.head()

,CONFIRMEDCASECHANGE,DATE,DEATHCHANGE,PROBABLECASECHANGE,R0,R0CIHIGH,R0CILOW,TOTALCONFIRMEDCASES,TOTALDEATHS,TOTALPROBABLECASES
0,1,03-03-2020,0,0,NaN,1.169858,NaN,1,0,0
1,0,03-04-2020,0,0,NaN,1.169858,NaN,1,0,0
2,0,03-05-2020,0,0,NaN,1.169858,NaN,1,0,0
3,0,03-06-2020,0,0,NaN,1.169858,NaN,1,0,0
4,0,03-07-2020,0,0,NaN,1.169858,NaN,1,0,0

Se comprobó los datos del dataset que estaban nulos para aplicar la técnica de imputación

In [24]:
#Se vulve a comprobar el valor (R0CIHIGH) sin incositencias
df['R0CIHIGH'].isna().sum()

0